body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 400px;
}

label {
  font-weight: bold;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.dev {
  display: flex;
  align-items: center;
  justify-items: center;
}

#resultado {
  margin-top: 20px;
  font-weight: bold;
}